# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.so
*.egg-info/
.eggs/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# Virtual environments
.venv/
venv/
ENV/

# Build artifacts
build/
dist/

# IDE/editor
.idea/
.vscode/
.DS_Store

# UV
.uv/
